*, body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.logo{
    float: left;
    margin-left: 28px;
    line-height: 78px;
    font-size: 44px;
    font-weight: bolder;
    font-family: Segoe Script;
}
#header{
    background-color: #2E3944;;
    color: #d2d9d4;
}
#header ul{
    color: #D2D9D4;
    margin-left: 80px;
}
#header ul li{
    font-size: 15px;
    font-weight: bold;
    padding-right: 45px;
}
#header ul li a{
    color: #D2D9D4;
}
#header ul li a:hover{
    color: white;
    scale: 1.1;
    transition: 0.1s ease-in-out;
}
#header button{
    font-size: 15px;
    padding: 10px 30px;
    font-weight: bold;
    background-color: transparent;
    color: #D2D9D4;
    border: 3px solid #D2D9D4;
    border-radius: 5px;
}
#header button:hover{
    background-color: #D2D9D4;
    color: #2E3944;
}
.head{
    position: sticky;
    top: 0;
    z-index: 999;
}
.hero{
    color: white;
    width: 100%;
    height: 900px;
    background:rgba(0, 0, 0, 0.5) url(images/hero.avif);
    background-blend-mode: darken;
    background-position: center;
    text-align: center;
}

.hero label{
    font-size: 60px;
    font-weight: bolder;
}

.hero p{
    padding-top: 20px;
    font-size: 22px;
}

.hero div{
    padding-top: 350px;
}

.destination{
    width: 100%;
    height: 866px;
}

.heading{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    color: rgb(59,68,79);
    font-size: 32px;
    font-weight: 600;
}

#landscape{
    border-radius: 5px;
    color: white;
    width: 574px;
    height: 315px;
    margin: 35px;
    margin-top: 0px;
    transition: 0.3s ease-in-out;
}

#portrait{
    border-radius: 5px;
    color: white;
    width: 265px;
    height: 300px;
    margin: 28px;
    margin-top: 0px;
    transition: 0.3s ease-in-out;
}
#landscape:hover, #portrait:hover{
    transform: translateY(-10px);
    background:rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#landscape ul{
    width: 541px;
    height: 229px;
}

#portrait ul{
    width: 250px;
    height: 229px;
}

#landscape ul, #portrait ul{
    display: block;
    opacity: 0;
    padding-top: 20px;
    list-style-type: none;
}

#landscape ul:hover, #portrait ul:hover{
    opacity: 1;
}
#landscape label, #portrait label{
    margin-left: 34px;
    padding-top: 20px;
    font-size: large;
    font-weight: bold;
}
#landscape label,b , #portrait label,b{
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.tips{
    color: white;
    width: 100%;
    height: 500px;
    background: url("images/tips.avif");
    background-size: cover;
    rotate: 0deg;
    text-align: center;
}
.tips label{
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bolder;
}
.tips p{
    padding-bottom: 10px;
}
.button{
    color: white;
    background-color: transparent;
    font-size: 16px;
    padding: 15px 50px;
    border: 3px solid white;
    border-radius: 4px;
    transition: 0.1s ease-in-out;

}
.button:hover{
    transform: translateY(-3px);
    background-color: white;
    color: black;
}

.about{
    text-align: center;
    height: 400px;
}
.about img{
    height: 100px;
    width: 100px;
}
.about p{
    color: rgb(104, 103, 103);
    margin-inline: 42px;
}
.deals {
    height: 550px;
}

.deals img{
    height: 250px;
    width: 380px;
    margin-inline: 20px;
    border-radius: 5px;
}

.deals p{
    color: rgb(104, 103, 103);
    margin-left: 20px;
    margin-top: 5px;
}
.deals b{
    margin-left: 20px;
    margin-top: 10px;
}

.details ul{
    list-style-type: none;
    color: rgb(104, 103, 103);
}
.details ul li{
    padding-bottom: 10px;
}
.details b{
    margin-left: 31px;
    margin-bottom: 20px;
}
#info{
    margin: 30px;
}
#col{
    padding-inline: 44px;
}
.footer{
    margin: 0%;
    padding: 0%;
    width: 100%;
    color: #D2D9D4;
    background-color: #2E3944;
    height: 120px;
    position: static;
    bottom: 0;
}
#foot-icons{
    font-size: 35px;
    padding-top: 44px;
    padding-left: 25px;
}
.footer p{
    margin: 48px;
    float: right;
}